@charset "utf-8";
* {
	padding: 0;
	margin: 0;
	font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
li{
	list-style:none;
}
img{
	border:none;
}
ul,.section {
	height: 100%;
	position: relative;
	/*overflow: hidden;*/
	z-index: 1;
}
#container {
	/*width: 100%;*/
	height: 100%;
	position: relative;
	/*overflow: hidden;*/
	z-index: 1;
	border: 0px solid blue;
}

.intro {
	position: absolute;
	width: 100%;
	height: 30em;
	margin: 0;
	padding: 0;
	float: left;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 0px solid red;
}
.section div.intro img {
	position: absolute;
	height: 16em;
	right: 75em;
	bottom: 3em;
	z-index: 3;
	border: 0px solid rebeccapurple;
}
h1{
	position: absolute;
	width: 10em;
	left: 11em;
	text-align: left;
	font-size: 2.5em;
	font-weight: normal;
	color: #65c095;
	border: 0px solid rebeccapurple;
}
.title {
	bottom: 4.5em;
	color: #65c095;
}
.title2 {
	bottom: 3.3em;
	color: #65c095;
}
p{
	position: absolute;
	width: 20em;
	left: 24em;
	bottom: 2.1em;
	text-align: left;
	font-size: 1.5em;
	color: #a6a6a6;
	border: 0px solid rebeccapurple;
}
.left{
	float: left;
}
/*轮换小图标*/
#pages{
	position:fixed;
	left: 25em;
	top: 40em;
	list-style: none;
}
#pages li{
	width: 4em;
	height: 4em;
	border-radius: 50%;
	float: left;
	margin: 0 4em 0 0;
}
#pages li.active{
	width: 4em;
	height: 4em;
	/*border: 3px solid #65c095;*/
}
#section0 .title{
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-animation: sectitle0 1s ease-in-out 100ms forwards;
	animation: sectitle0 1s ease-in-out 100ms forwards;
}
#section0 p{
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-animation: sec0 1s ease-in-out 100ms forwards;
	animation: sec0 1s ease-in-out 100ms forwards;
}
@-webkit-keyframes sectitle0{
	0%{
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes sectitle0{
	0%{
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes sec0{
	0%{
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes sec0{
	0%{
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}