@charset "utf-8";
body{background-color: #FFF}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea { margin: 0px; padding: 0px; }
fieldset, img { border: 0; }
li { list-style: none; }
body, button, input, select, textarea /* for ie */ { font: 78%/1.5 tahoma, Helvetica, arial, "\5b8b\4f53", sans-serif; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, samp { font-family: courier new, courier, monospace; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
address, cite, dfn, em, var { font-style: normal; }
caption, td { font-weight: normal; }
cite, blackquote, em, i { font-style: italic; }
strong, b { font-weight: bold; }
pre, code { font-family: monospace; font-size: 1.1em; }
abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help; }
table { border-spacing: 0; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none }
blockquote, q { quotes: none; }
legend { color: #000; }
button, input, select, textarea { font-size: 14px; }
button, input[type="button"], input[type="submit"] { cursor: pointer; border: 0px; }
a { text-decoration: none; cursor: pointer; outline: none; color: #0063dc; }
a:hover { text-decoration: underline; }
a:focus, button, input[type="button"], input[type="submit"] { outline: none; }
html { color: #000; }
font { font-size: 12px; }
:focus {outline: none;}
/*h1-h6*/
h1, h2, h3, h4, h5, h6 { font-family: "微软雅黑", Verdana, Geneva, sans-serif; font-weight: bold; color: #333; }
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
/*间距*/
.pa5 { padding: 5px; }
.pa10 { padding: 10px; }
.pa20 { padding: 20px; }
.pa30 { padding: 30px; }
.pl5 { padding-left: 5px; }
.pr5 { padding-right: 5px; }
.pt5 { padding-top: 5px; }
.pb5 { padding-bottom: 5px; }
.pl10 { padding-left: 10px; }
.pr10 { padding-right: 10px; }
.pt10 { padding-top: 10px; }
.pb10 { padding-bottom: 10px; }
.pl15 { padding-left: 15px; }
.pr15 { padding-right: 15px; }
.pt15 { padding-top: 15px; }
.pb15 { padding-bottom: 15px; }
.pl20 { padding-left: 20px; }
.pr20 { padding-right: 20px; }
.pt20 { padding-top: 20px; }
.pb20 { padding-bottom: 20px; }
.ma5 { margin: 5px; }
.ma10 { margin: 10px; }
.ma20 { margin: 20px; }
.ma30 { margin: 30px; }
.ml5 { margin-left: 5px; }
.mr5 { margin-right: 5px; }
.mt5 { margin-top: 5px; }
.mb5 { margin-bottom: 5px; }
.ml10 { margin-left: 10px; }
.mr10 { margin-right: 10px; }
.mt10 { margin-top: 10px; }
.mb10 { margin-bottom: 10px; }
.ml15 { margin-left: 15px; }
.mr15 { margin-right: 15px; }
.mt15 { margin-top: 15px; }
.mb15 { margin-bottom: 15px; }
.ml20 { margin-left: 20px; }
.mr20 { margin-right: 20px; }
.mt20 { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }
.mc { margin-left: auto; margin-right: auto; }
/*左右*/
.fl { float: left; }
.fr { float: right; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }
/*字体大小+行高*/
.f12 { font-size: 12px; }
.h12 { line-height: 12px; }
.f14 { font-size: 14px; }
.h14 { line-height: 14px; }
.f16 { font-size: 16px; }
.h16 { line-height: 16px; }
.f18 { font-size: 18px; }
.h18 { line-height: 18px; }
.f20 { font-size: 20px; }
.h20 { line-height: 20px; }
.h25 { line-height: 25px; }
.h30 { line-height: 30px; }
/*字体粗细*/
.fw { font-weight: bold; }
.fn { font-weight: normal; }
/*颜色*/
.c_red, a.c_red, a.c_red:visited, a.c_red:link, .c_red a { color: #F00; }
.c_red_1, a.c_red_1, a.c_red_1:visited, a.c_red_1:link, .c_red_1 a { color: #C00; }
.c_green, a.c_green, a.c_green:visited, a.c_green:link, .c_green a { color: #090; }
.c_blue, a.c_blue, a.c_blue:visited, a.c_blue:link, .c_blue a { color: #225D92; }
.c_blue_1, a.c_blue_1, a.c_blue_1:visited, a.c_blue_1:link, .c_blue_1 a { color: #039; }
.c_blue_2, a.c_blue_2, a.c_blue_2:visited, a.c_blue_2:link, .c_blue_2 a { color: #1E77D3; }
.c_yellow, a.c_yellow, a.c_yellow:visited, a.c_yellow:link, .c_yellow a { color: #FF0; }
.c_f90, a.c_f90, a.c_f90:visited, a.c_f90:link, .c_f90 a { color: #f90; }
.c_f60, a.c_f60, a.c_f60:visited, a.c_f60:link, .c_f60 a { color: #f60; }
.c_fff, a.c_fff, a.c_fff:visited, a.c_fff:link, .c_fff a { color: #FFF; }
.c_ddd, a.c_ddd, a.c_ddd:visited, a.c_ddd:link { color: #DDD; }
.c_ccc, a.c_ccc, a.c_ccc:visited, a.c_ccc:link { color: #CCC; }
.c_999, a.c_999, a.c_999:visited, a.c_999:link { color: #999; }
.c_666, a.c_666, a.c_666:visited, a.c_666:link { color: #666; }
.c_333, a.c_333, a.c_333:visited, a.c_333:link { color: #333; }
.c_000, a.c_000, a.c_000:visited, a.c_000:link { color: #000; }
.none { display: none; }
.block { display: block; }
.clear { clear: both; }
.clear_b { clear: both; height: 10px; line-height: 10px; padding: 0px; margin: 0px; width: auto; overflow: hidden; }
.clear_all { clear: both; height: 0; line-height: 0; display: inline; }
/*自适应高度*/
.h_auto { height: auto; overflow: hidden; }
/*表格*/
.v_middle { vertical-align: middle; }
.t_i { text-indent: 18pt; }
/*==========以下部分是Validform必须的===========*/
.Validform_checktip { margin-left: 8px; line-height: 20px; height: 20px; overflow: hidden; color: #999; font-size: 12px; }
.Validform_right { color: #71b83d; padding-left: 20px; background: url(../images/right.png) no-repeat left center; }
.Validform_wrong { color: red; padding-left: 20px; white-space: nowrap; background: url(../images/error.png) no-repeat left center; }
.Validform_loading { padding-left: 20px; background: url(../images/onLoad.gif) no-repeat left center; }
.Validform_error { background-color: #ffe7e7; }
#Validform_msg { color: #7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width: 280px; -webkit-box-shadow: 2px 2px 3px #aaa; -moz-box-shadow: 2px 2px 3px #aaa; background: #fff; position: absolute; top: 0px; right: 50px; z-index: 99999; display: none; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}
#Validform_msg .iframe { position: absolute; left: 0px; top: -1px; z-index: -1; }
#Validform_msg .Validform_title { line-height: 25px; height: 25px; text-align: left; font-weight: bold; padding: 0 8px; color: #fff; position: relative; background-color: #000; }
#Validform_msg a.Validform_close:link, #Validform_msg a.Validform_close:visited { line-height: 22px; position: absolute; right: 8px; top: 0px; color: #fff; text-decoration: none; }
#Validform_msg a.Validform_close:hover { color: #cc0; }
#Validform_msg .Validform_info { padding: 8px; border: 1px solid #000; border-top: none; text-align: left; }
